@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Reddit+Mono:wght@200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 5.9% 10%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border transition-colors duration-200;
	}
	body {
		@apply bg-background text-foreground transition-colors duration-200;
	}
}

@layer utilities {
	.noise {
		width: 100%;
		position: relative;
		overflow: hidden;
		display: grid;
	}
	.noise:before {
		content: '';
		background-color: transparent;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
		background-repeat: repeat;
		background-size: 182px;
		opacity: 0.08;
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
		height: 600vh;
	}
	menu ul li {
		margin: 20px auto;
		text-transform: uppercase;
		font-size: 2.4rem;
		opacity: 0;
		cursor: pointer;
	}
	menu {
		width: 300px;
		margin: 60px auto;
		position: relative;
		text-align: center;
		font-family: 'Manrope', sans-serif;
	}
	menu,
	menu a {
		color: #fff;
	}
	.menudrop {
		position: fixed;
		top: -100%;
		width: 0;
		height: 100vh;
		background-color: rgb(12, 12, 13);
		overflow-y: scroll;
		padding-bottom: 30px;
		z-index: 30;
	}
	#hamburger {
		position: fixed;
		padding: 10px;
		top: 10px;
		right: 2%;
		width: 65px;
		height: 50px;
		z-index: 40;
		cursor: pointer;
	}
	#hamburger:hover {
		width: 80px;
	}
	#hamburger span {
		width: 65%;
		height: 2px;
		display: block;
		margin: 10px auto;
	}
	#hamburger {
		transition: 0.3s;
	}
	#hamburger {
		animation: moveme 0.3s 2 alternate backwards;
	}
	@keyframes moveme {
		from {
			width: 65px;
		}
		to {
			width: 75px;
		}
	}

	@media only screen and (min-width: 576px) {
		menu ul li {
			font-size: 2rem;
		}
	}

	#svg-stage {
		max-width: 600px;
		overflow: visible;
		margin-top: 60vh;
	}

	.ball {
		fill: white;
		visibility: hidden;
	}

	.line {
		fill: none;
		stroke: white;
		stroke-width: 2px;
	}

	text {
		fill: white;
		font-size: 15px;
		visibility: hidden;
	}
}
